<?xml version="1.0"?>

<launch>
  <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>

  <!--control-->
  <node pkg="find_my_mates" name="cic" type="fmm_CIC.py" required="true" output="screen" />
  <node pkg="find_my_mates" name="move_odom" type="move_odom.py" required="true" output="screen" />
  
  <!--image-->
  <!-- <node pkg="find_my_mates" name="img_mdpp" type="FMM_img_mdpp.py" required="true" output="screen" /> -->

  <!--sound-->


</launch>