<?xml version="1.0"?>

<launch>
  <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>

 <!-- open_manipulator_controllerもlaunchファイルから起動できるが終了するときにノードが終了するので別の端末で手動で起動するのをすすめる -->
 <!-- <include file="$(find open_manipulator_controller)/launch/open_manipulator_controller.launch"/> -->

  <include file="$(find rplidar_ros)/launch/rplidar.launch"/>

  <!--node pkg="find_my_mates" name="main" type="main.py" required="true" output="screen" />-->
  <!--<node pkg="find_my_mates" name="move" type="move.py" required="true" output="screen" />-->
  <node pkg="find_my_mates" name="move_test" type="move_test.py" required="true" output="screen" />
  <!--<node pkg="find_my_mates" name="arm" type="arm.py" required="true" output="screen" />-->
  <!--<node pkg="find_my_mates" name="audio" type="audio.py" required="true" output="screen" />-->
  <!--<node pkg="find_my_mates" name="lidar" type="lidar.py" required="true" output="screen" />-->
  <!--<node pkg="find_my_mates" name="realtime" type="realtime_Bios_old_cmpr.py" required="true" output="screen" />-->
</launch>